/* formatting the body */
body{
    background-image: url(Images/unsplash.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    height:500px;

    


}
/* end of format *
