/* formatting the body */
body{
    background-image: url(Images/unsplash.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
}
/* end of format *

/* formatting heading portion */
