/* formatting the body */
body{
    background-image: url(Images/unsplash.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    font-size: 17px;
}
/* end of format *

/* formatting heading portion */

h1,h3{
    color: white;
    font-weight: bolder;
    word-spacing: 10px;
    position:relative;
    font-weight: 500;
    margin-top: 0ch;
    
}

p{
    color: black;
}
.Content{
    background-color:teal;    
    background-blend-mode: overlay;
    margin-left: 23ch;
    margin-right: 23ch;
    margin-top: 2ch;
    margin-bottom: 10ch;
    position: center;
    position:fixed;
    border-radius: 3ch;

    
}